<mat-toolbar>
  <mat-toolbar-row>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Savings Manager</span>
    <span class="example-spacer"></span>
    <a
      mat-fab
      extended
      aria-label="Users"
      routerLink="/users"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <mat-icon>group</mat-icon>
      Users
    </a>
    &nbsp;
    <a
      mat-fab
      extended
      aria-label="Deposits"
      routerLink="/deposits"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <mat-icon>savings</mat-icon>
      Savings
    </a>
  </mat-toolbar-row>
</mat-toolbar>
